.fight-page-container {
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  font-size: 1.5rem;
}
.fight-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  gap: 3rem;
}

.fight-page-content {
  margin-top: 3rem;
  background: #eaeaea;
  flex: 0 0 25em;
  padding: 2rem;
}
.fight-page-title {
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 5px #24ecff, 0px 0px 10px #24ecff, 0px 0px 10px #24ecff,
    0px 0px 20px #24ecff;
  font-size: 6rem;
  margin-bottom: 3rem;
}
.fight-page-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-left: 9rem;
}

.opponent-name {
  position: relative; /* Add position property */
  z-index: 3;
  color: rgb(6, 6, 6); /* Set text color to white */
  font-size: 2.5rem; /* Adjust font size */
  margin-top: 1rem; /* Add some margin to separate from the image */
}

.back-button {
  font-size: 2.5rem;
}
