.pokemon-detail-container {
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.pokemon-detail-title {
  color: #0f0;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  position: relative;
  z-index: 2;
}

.pokemon-detail-content {
  border-radius: 20px;
  margin-top: 3rem;
  text-align: center;
  background: #050505;
  padding: 2rem;
  position: relative;
  z-index: 1;
}
.pokemon-detail-content .pokemon-name {
  font-size: 3rem;
  position: relative;
  z-index: 2;
}
.pokemon-detail-content p {
  border-radius: 20px;
  font-size: 2.2rem;
  line-height: 2.5rem;
  border: 0.1rem solid #0b0303;
  margin: 1rem 0;
  position: relative;
  z-index: 3;
}
.pokemon-detail-content::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: linear-gradient(to right, #0f0, #ff0, #0ff, #f0f, #0ff);
  background-size: 500% 500%;
  animation: rotating 10s linear infinite;
  z-index: 1;
}

@keyframes rotating {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.pokemon-detail-content::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(from 0deg, #0f0, #ff0, #0ff, #f0f, #0ff);
  border-radius: 20px;
  filter: blur(40px);
  opacity: 0.75; /* Adjust the opacity as needed */
  z-index: 1;
}

.pokemon-image {
  background: #000000;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}

.button-container {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 3;
}
.back-button,
.fight-button {
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
  color: #000000;
  font-weight: bolder;
  padding: 1.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 1.5rem 1rem;
  cursor: pointer;
}

.fight-button {
  background-color: rgba(255, 5, 34, 0.91);
}

.back-button:hover,
.fight-button:hover {
  background-color: #0f0;
}
